              <h3>Blah blah</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Navagation</li>
                <%if current_user%>
                  <li><%= link_to 'Universes', universes_path %></li>
                <% end %>
                <% if current_universe %>
                  <li><%= link_to 'Locations', locations_path%> </li>
                  <li><%= link_to 'Characters', characters_path%> </li>
                <% end %>  
              </ul>
              

